<!doctype html>
<html>

<head>
    <title>SSG Rummy</title>
</head>

<body>
    <h1>SSG Rummy</h1>
    <br>
    Whose turn: <span id="whose-turn"></span>
    <br>
    Joker: <span id="joker"></span>, Discard pile: <span id="discarded"></span>
    <br>
    <ol class="drag-sort-enable nav" id="hand" start="0"></ol>
    <br>
    <button type="button" id="draw-shown" class="only-on-turn-draw">Draw Shown</button>
    <button type="button" id="draw-hidden" class="only-on-turn-draw">Draw Hidden</button>
    <br>
    <input type="to-throw" id="to-throw" autofocus>
    <button type="button" id="throw" class="only-on-turn-throw">Throw</button>
    <script src="static/assets/js/game.js"></script>

    <script src="static/assets/js/reorderable-list.js"></script>
    <link rel="stylesheet" href="static/assets/css/main.css">

    <div id="log"></div>
</body>

</html>