<!doctype html>
<html>

<head>
    <title>Flask-Sock Demo</title>
</head>

<body>
    <h1>Flask-Sock Demo</h1>
    <div id="log"></div>
    <br>
    <button type="button" id="draw-shown">Draw Shown</button>
    <button type="button" id="draw-hidden">Draw Hidden</button>
    <br>
    <form id="throw">
        <label for="to-throw">Throw: </label>
        <input type="to-throw" id="to-throw" autofocus>
    </form>
    Hand: <div id="hand"></div>
    <script src="static/assets/js/game.js"></script>
</body>

</html>