ol.cardlist {
    padding-left: 0px;
    text-align: center;
}

ol.cardlist>li {
    display: inline-block;
    padding: 5px 5px;
}

ol.cardlist>li:hover {
    background-color: #2779BF;
}

ol.cardlist>li>a {
    text-decoration: none;
}